/* CSS Header */

.header-top {
	background-color: #2C2C2C;
	padding: 10px 0px;
}
.header-top .search-form {
	position: relative;	
}
.search-form input{
	padding-left: 34px;
	font-style: italic;
}
.search-form i {
	position: absolute;
	color: #ccc;
	font-size: 18px;
	height: 100%;
	padding: 10px;
}
.right-header-top {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
}
.right-header-top span, .right-header-top a{
	color: #fff;
}